CLIENT_URL =
DATABASE_URL = postgres://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>
PORT =

# Auth
AUTH_SECRET = <SECRET>
AUTH_URL = 

# Storage
STORAGE_SECRET = <SECRET>
STORAGE_URL = https://<PROJECT_REFERENCE>.supabase.co
