API_URL =
CLIENT_URL =
PORT =

# Database
DATABASE_URL = postgres://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>

# Auth
AUTH_SECRET = <SECRET>

# Storage
STORAGE_SECRET = <SECRET>
STORAGE_URL = https://<PROJECT_REFERENCE>.supabase.co
